<div id="navBar">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="HomePage.html">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="SingleGame.html">Single Game</a></li>
                <li><a href="MultiplayerGame.html">Multiplayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="UserRankings.html">User Rankings</a></li>
                <li id="client"><a id="clientRef" href="Register.html">Register</a></li>
                <li id="login"><a id="loginRef" href="Login.html">Login</a></li>
                <!--<li><a  href="Login.html"></a></li>
                <li ><a ></a></li>-->
            </ul>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            if (sessionStorage.length != 0) {

                //$("#client").text($("#client").text() + sessionStorage.getItem("playerName"));
                $("#client").html(sessionStorage.getItem("playerName"));
                $("#clientRef").attr("href", "/HomePage.html");
                //document.getElementById("login").textContent = "logout";
                $("#login").text("Logout");
                $("#loginRef").attr("href", "/HomePage.html");
            }
            //$("#client").text("Hello world!");

        });
    </script>
</div>